@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes:
    night --default,
    winter;
}

body {
  font-family: "Inter", sans-serif;
}
h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 18px;
}
.purple {
  color: #8a38f5;
}
.box-shad {
  box-shadow: -2px 0px 10px 0px #8a38f5;
}
.box-shad-Action {
  box-shadow: 1px 3px 10px 0px #8a38f5c8;
}
.box-shad-user {
  box-shadow: inset -1px -2px 5px 0px #8a38f5;
}
