@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes:
    night --default,
    garden;
}

body {
  font-family: "Inter", sans-serif;
}
h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
.box-shad {
  box-shadow: -2px 0px 10px 0px #818cf7;
}
.box-shad-Action {
  box-shadow: 1px 3px 10px 0px #818cf7c8;
}
.box-shad-user {
  /* box-shadow: 1px 2px 5px 0px #818cf7; */
  border: 0.5px solid #818cf7;
}

.red-card-grad {
  background: linear-gradient(
    121deg,
    rgba(33, 41, 58, 1) 62%,
    rgba(253, 7, 7, 1) 177%
  );
  box-shadow: 3px 3px 10px 0px rgba(255, 0, 0, 0.6);
}
.green-card-grad {
  background: linear-gradient(
    121deg,
    rgba(33, 41, 58, 1) 62%,
    rgba(40, 224, 11) 177%
  );
  box-shadow: 3px 3px 10px 0px rgba(39, 224, 11, 0.6);
}
.orange-card-grad {
  background: linear-gradient(
    121deg,
    rgba(33, 41, 58, 1) 62%,
    rgba(212, 95, 53) 177%
  );
  box-shadow: 3px 3px 10px 0px rgba(212, 95, 53, 0.6);
}
.blue-card-grad {
  background: linear-gradient(
    121deg,
    rgba(33, 41, 58, 1) 62%,
    rgba(105, 205, 255) 177%
  );
  box-shadow: 3px 3px 10px 0px rgba(105, 205, 255, 0.6);
}
.header-center .ag-header-cell-label {
  justify-content: center;
}
.ag-root-wrapper {
  margin: 24px;
}
